body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  
  margin: 8px;
  box-shadow: 0px 3px 3px 3px grey;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.description-section {
  padding: 50px;
  text-align: center;
  color: 474e5d;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


.topnav a {
  background-color: #282c34;
  float: left;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  color: white;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 5vh;
  width: 33.33%;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.65);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  color: white;
}

.topnav a.active {
  background-color: gray
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}